.qr-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: var(--container-bg);
    border-radius: 12px;
    box-shadow: 0 8px 20px var(--container-shadow);
    padding: 2rem;
    width: 50%;
    margin-bottom: 1rem;

    .url-copy-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;

        a {
            color: var(--link-color);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        .copy-btn {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;

            img {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .qr-container {
        width: 80vw;
    }
}
